.bg-roxo {
    background-color: #7E459B;
}

a:hover {
    text-decoration: none;
}

nav a:hover {
    font-weight: 500;
}

.imagem-carrosel {
    height: 70vh;
    object-fit: cover;
    object-position: 0 30%;
}

.redes-sociais i {
    color: #7E459B;
    font-size: 1.2rem;
}

.redes-sociais span {
    color: black;
}

.redes-sociais span:hover {
    color: #7E459B;
    font-weight: 50px;
}

.icones i {
    font-size: 2.8rem;
}

.tamanho-modal {
    height: 100%;
    width: 100%;
}

.tamanho-card {
    width: 18rem;
    margin: 2rem;
}

.imagem-cards {
    height: 50vh;
    object-fit: cover;
    object-position: top;
}

.imagem-modal {
    height: 100rem;
    width: 30rem;
    padding-right: 5px;

}

.cor-link {
    color: rgb(199, 141, 228);
}

.cor-link:hover {
    color: white;
}